<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HOMEWORK_11--12.1</title>
    <link rel="stylesheet" href="css/normalize.css" media="screen" title="no title">
    <link rel="stylesheet" href="css/style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script  src="js/templ.js"></script>
    <script  src="js/script.js"></script>
  </head>
  <body>
       <script type="text/html" id="temp">
         <% for (var i = 0; i<data.length; i++){ %>
<div class="wrapper">
<h1><%= data[i].name %></h1>
<div>
<img src="<%= data[i].img %>" alt="ya"/>
</div>
<p><%= data[i].name %></p>
<div class="box">
<p>I want studying Front End. Because:</p>
<ul>
  <li><%= data[i].valeu1 %></li>
  <li><%= data[i].valeu2 %></li>
  <li><%= data[i].valeu3 %></li>
</ul>
</div>
<div class="box">
<p>Contacts</p>
<p><%= data[i].phoneNumber %></p>
<br />
<p>Im in social web</p>
<a href="<%= data[i].socialLink%>"><%= data[i].socialWeb %></a>
</div>
<div class="box">
<p>My feedback:</p>
<p><%= data[i].feedback %></p>
</div>
</div>
<% }; %>
       </script>
  </body>
</html>
